/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/


/* Posts and pages */
.container {
  width: 1120px;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.content-area {
	margin-left: 5%;
	padding-right: 5%;
  width: 75%;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* Comments */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comments-area h3 {
	text-transform: uppercase;
}

//main content area
.entry-header {
	position: relative;
}

.entry-content,
.entry-header img {
	width: 60%;
}

.entry-meta {
	position: absolute;
	background-color: #248A83;
	color: white;
	padding: .75rem 1rem;
	margin: 0 0 2rem 0;
	text-transform: uppercase;
	bottom: 0;
	a {
		text-decoration: none;
		color: white;
	}
}

.site-main {
	margin-top: 5%;
}

//Headers
.entry-title {
	position: relative;
	width: 60%;
	color: white;
	padding: .75rem 1rem;
	margin: 1rem 0 2rem 0;
}

.entry-title,
.entry-content h2 {
	text-transform: uppercase;
	font-size: 2rem;
}

.cat-links {
	padding-right: 20px;
}

.entry-title {
	position: absolute;
	padding: .75rem 1.5rem;
	background-color: #248A83;
	max-width: 60%;
	left: 0;
	top: 0;
	width: 50%;
	a {
		text-decoration: none;
		color: white;
		height: auto;
	}
}

.about-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: #fff;
    font: 2rem;
    text-transform: uppercase;
  }
}

.about-us {
  margin: 0 5%;
  h2 {
    text-transform: uppercase;
  }
}
.taxonomy-loop {
  background-color: blue;
  height: 20vh;
}