.page-header h2 {
    text-align: center;
}

.shop-page-product-types {
    justify-content: center;
    margin-left: 0;
    padding-left: 0;
    text-transform: uppercase;
    text-decoration: none;
}

.shop-header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}