/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.hero-banner {
 background: url(../../images/logos/inhabitent-logo-full.svg) center no-repeat, linear-gradient(rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .4)), url(../../images/home-hero.jpg);
 height: 100vh;
 background-size: 50% 50%, cover, cover;
}




.read-more {
 border: 1px solid black;
 color: black;
 font-size: 1rem;
 padding: .8rem 1.2rem;
 text-transform: uppercase;
 text-decoration: none;
 &:hover {
   background-color: #248a83;
   color: white;
 }
}

a.btn, a.black-btn {
		background: #248a83;
		border: none;
		border-radius: 0;
		line-height: 1;
		font-size: .8rem;
		color: #fff;
		padding: .75rem 1.5rem;
		text-decoration: none;
		text-transform: uppercase;
    font-family: 'novecento', sans-serif;
	}
	a.black-btn {
		background-color: transparent;
		border: 1px solid #000;
    font-size: 1.2rem;
    line-height: 1;
    padding: .6rem 1rem;
		color: #000;
		text-decoration: none;
    text-transform: uppercase;
	}

.front-page-heading {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 3.75rem;
}

.journal-title {
  text-align:center;
  text-transform:uppercase;
  margin:4rem;

}
.inhabitent-journal-title {
  text-align:center;
  text-transform:uppercase;
  margin:4rem;

}
.inhabitent-journal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    .individual-journal-post {
      max-width: 400px;
      padding-left:11px;

      .journal-post-container {
       border: 1px solid #e1e1e1;
       width: 360px;
       padding:1.5rem;
       border-top-width: 4px;
       height: 180px;
       position: relative;
       font-size:.75rem;
      

      h3 {
        color: #248a83;
        font-size: 1.4rem;
        margin-top: 5px;
      }
      a {
        border: 1px solid black;
        padding: .75rem 2.5rem;
        text-decoration:none;
        color:black;
        position: absolute;
        bottom: 5px;
        text-transform: uppercase;

        &:hover {
        background-color: #248a83;
        color: #fff;
        border-color: #248a83; 
        }

      }
    }

    img{
      width: 360px;
      height: 250px;
      display:block;
    }
}
}
.comment-list {
  margin-left: 0;
  padding-left: 0;
  > li {
    border-bottom: 1px solid #e1e1e1;
  }
}

.children li {
  border-top: 1px solid #e1e1e1;
}

.comment {
  padding-top: 1.5rem;
  article {
    padding-bottom: 1.5rem;
  }
}

.comment-body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  p {
    margin-bottom: 0.75rem;
  } 
  a {
    color: #248a83;
    text-decoration: none;
  }
}

.comment-author-avatar {
  border-radius: 50%;
  height: 64px;
  margin-right: 1.5rem;
  overflow: hidden;
  width: 64px;
}

.comment-author cite {
  font-style: normal;
  font-weight: 700;
}

.comment-metadata {
  color: gray;
  margin-bottom: 0.75rem;
}

.required {
  color: #d99054;
}

.comment-form {
  max-width: 640px;
  a {
    text-decoration: none;
    color: #248a83;
  }
}

.comment-form-author, .comment-form-email {
  float: left;
}

.comment-form-author input, .comment-form-email input {
  width: 100%;
}

.comment-form-author {
  margin-right: 1%;
  width: 49%;
}

.comment-form-email {
  margin-left: 1%;
  width: 49%;
}

.comment-form #url {
  clear: left;
  width: 100%;
  input {
    width: 100%;
  }
}

.comment-reply-title {
  margin-top: 1.5rem;
}
.form-submit input {
    background: #248a83;
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: .9rem;
    line-height: 1;
    padding: .75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: none;
}

////// ------------- Shop Page ---------------- ////////

//// --- Archived Products --- ///

.product-posts {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.product-name {
    left: 0; 
    overflow: hidden; 
    white-space: nowrap;
}
.product-name :after { content: " .................................." }

.product-price {
padding-left: .5rem;
}

.individual-product {
    margin-bottom: 2rem;
    flex: 0 1 24%;
    img {
        height: 250px;
        width: 250px;
    }
}

.product-info {
    width: 250px;
    display: flex;
    justify-content: space-between;

    padding: 0 1rem;
    border: 1px solid #e1e1e1;
    font-size: 0.9rem;
    font-family: $font__main;
}






///// ----- Single Product ------ ///

.individual-product img {

  max-height: 200px;
  width: 250px;
}

.single-product-container {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  height: 80vh;
}

.single-product-thumb {
  display: flex;
  max-width: 640px;
  flex-basis: 48%;
}

.single-product-thumb img {
    width: 640px;
    height: 360px;
    margin-top: 2rem;
  }

.single-product-content {
  display: flex;
  flex-direction: column;
  flex-basis: 48%;
}

.single-product-title {
  font-size: 2rem;
  text-transform: uppercase;
  color: #d99054;
}
.single-product-price {
  font-size: 1.25rem;
}

//---- FInd Us ----//

.page-id-109 {
.site-content {
  display: flex;
  margin: 0 auto;
}
.content-area{
  margin-top: 3rem;
}
.entry-title{
  position: static;
  background: none;
  color: black;
  padding: 0;
  margin: 2rem 0 0 0;
}
}

.required {
    color: #d99054;
}
.wpcf7-form label {
  text-transform: uppercase;
}
.wpcf7-form-control.wpcf7-submit {
  background: #248a83;
    border: none;
    border-radius: 0;
    font-size: .8rem;
    box-shadow: none;
    color: #fff;
    padding: .75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}