/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;


	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	h2 {
		font-size: 1.5rem;
	}
	p {
		margin-bottom: 0.5rem;
	}
}
.widget-text {
	padding-top: 5%;
	padding-bottom: 5%;
}
.widget-area {
	a{
		text-decoration: none;
		color: #248a83;
	} ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	padding-top: 3rem;
	padding-left: 5%;
	width: 30%;
} 
.day-of-week {
	font-weight: bold;
}



/* Search widget. */
.widget_search .search-submit {
	display: none;
}
